<ng-container
  *ngIf="personnel?.length == 0; then noPersonne; else showPersonne">
</ng-container>

<section>
  <ng-template #noPersonne>
    <p>Pas d'employé dans la base.</p>
  </ng-template>
  <ng-template #showPersonne>
  <section [ngSwitch]="view">
    <section *ngSwitchCase="'card'">
      <carte [employe]="employe" (personDelete)="delete($event)" *ngFor="let employe of personnel" ></carte>
    </section>

    <section *ngSwitchCase="'list'">
      <mat-list>
        <mat-list-item *ngFor="let employe of personnel" class="">
          <img matListItemAvatar src="{{ employe.photo }}" alt="Avatar de l'employé"/>
          <h3 matListItemTitle>{{ employe.prenom }} {{ employe.nom }} </h3>
          <p matListItemLine>
            <span> {{ employe.email }} </span> — <span>{{ employe.telephone }} </span>
          </p>
        </mat-list-item>
      </mat-list>
    </section>
  </section>
  </ng-template>
</section>

<section class="buttons-fab">
  <button (click)="showDialog()" mat-fab color="accent" class="button-add">
    <em class="material-icons">add</em>
  </button>

  <button (click)="switchView()" mat-fab color="warn">
    <em class="material-icons" *ngIf="view === 'card'">list</em>
    <em class="material-icons" *ngIf="view === 'list'">view_stream</em>
  </button>
</section>
